In [21]:
import pandas as pd
from pandas import json_normalize
import requests
import json
import os
import csv
from pprint import pprint

In [12]:
#listing API urls to use in data pulls
base_url = 'https://public.opendatasoft.com/api/records/1.0/'
records_url_listings = 'search/?dataset=airbnb-listings'
download_url_listings = 'download/?dataset=airbnb-listings'
records_url_reviews = 'search/?dataset=airbnb-reviews'
download_url_reviews = 'download/?dataset=airbnb-reviews'

In [13]:
city_pop_file = 'Resources/city_populations.csv'
city_pop_df = pd.read_csv(city_pop_file)
city_pop_df.head()

   rank         City Country  population_2019
0     1        Tokyo   Japan         37435192
1     2        Delhi   India         29399140
2     3     Shanghai   China         26317104
3     4    Sao Paulo  Brazil         21846508
4     5  Mexico City  Mexico         21671908

In [14]:
city_list = city_pop_df['City'].head(100)
city_list

0            Tokyo
1            Delhi
2         Shanghai
3        Sao Paulo
4      Mexico City
          ...
95           Kabul
96           Hefei
97        Tel Aviv
98          Recife
99    Shijiazhuang
Name: City, Length: 100, dtype: object

In [20]:
city='Austin'
get_url = base_url+records_url_listings+f'&facet=city&refine.city={city}&rows=2&fields=country,city,name,host_name,street,property_type,accommodates,bedrooms,bathrooms,beds,price,weekly_price,monthly_price,security_deposit,cleaning_fee,minimum_nights,maximum_nights,number_of_reviews,review_scores_rating,listing_url'
response = requests.get(get_url).json()
response['records'][1]['fields']

{'city': 'Austin',
 'bathrooms': 1.0,
 'name': 'Historic 2BD in Travis Heights',
 'minimum_nights': 1,
 'country': 'United States',
 'price': 800,
 'bedrooms': 2,
 'accommodates': 4,
 'beds': 2,
 'number_of_reviews': 0,
 'street': 'Alameda Drive, Austin, TX 78704, United States',
 'host_name': 'Charles',
 'maximum_nights': 1125,
 'listing_url': 'https://www.airbnb.com/rooms/10546343',
 'property_type': 'House'}

In [27]:
listing_df = pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [42]:
thing = json_normalize(response['records'][0]['fields'])

In [43]:
listing_df.append(thing)

,monthly_price,city,bathrooms,name,minimum_nights,country,price,bedrooms,accommodates,beds,number_of_reviews,street,cleaning_fee,host_name,maximum_nights,listing_url,review_scores_rating,property_type,security_deposit
0,7000,Austin,1.0,"Charming, Authentically Austin",1,United States,259,2,6,2,16,"Dawson Road, Austin, TX 78704, United States",25,Park Terrace,30,https://www.airbnb.com/rooms/4994857,89,Apartment,100

In [40]:
listing_df

Empty DataFrame
Columns: []
Index: []